/* Heading */
h5 {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    word-spacing: 20px;
    text-transform: none;
    
}

/* Heading */
h1{
    background-color: orange;
    font-size: 60px;
    text-align: center;
    margin: 0px;
}

/* Heading */
h4{
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: space-around;
    word-spacing: 40px;
    background-color: gray;
    margin: 0px;
}

/* h3 Image */
img {
    display: block;
    margin: 0px auto;
    height: 50vh;
    
}

/* div */
h2{
    font-size: 30px;
    font-style: italic;
    color: orange;
}

/* align right */
img.align-right {
    float: right;
}


/* Content */
#content {
    background-color: beige;
    width:1850px;
    height: 600px;
    padding: 20px;
    
}

/********************************************************** Section1 *****************************************************************/
.grid-section {
    display: grid;
    grid-template-columns: 4fr 2fr 3fr;
    padding: 10px;
    
}

/* ai  image */
.ai{
    width:100%;
}

/* First line Caps */
#w {
    font-weight: bold;
}

/* Frist line caps */
#x {
    font-weight: bold;
}

/* first line caps */
#y {
    font-weight: bold;
}

/* first line caps */
#t {
font-weight: bold;
}

/* image */
.fg {
    width: 90%;
}

/* capital first line */
#qz, .ttt {
    font-weight: bold;
}

/* ordered list space */
ol li {
    margin: 5px 0px;
}

.il {
    font-size: 20px;
    color: red;
}



/************************************************* section 2 *************************************************************/
.grid-section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    justify-content: space-between;
    

}

/* Heading Bold */
#da {
    font-weight: bold;
}

/* Heading Bold */
#yc {
    font-weight: bold;
}

/* Heading Bold */
#om {
    font-weight: bold;
}

/* image width section 2 */
.oa {
    width: 95%;
}

/* image width section 2 */
.gh {
    width: 95%;
}

.yk {
    font-weight: bold;
}

/****************************************************** section 3**************************************************************/
.grid-section3 {
    background-color:lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    justify-content: space-between;
    justify-content: space-between;
}
/* Heading bold */
    #qm {
        font-weight: bold;
    }

    #us {
        font-weight: bold;
    }

    #mmm {
        font-weight: bold;
    }
    /* Image width */
    .aa {
        width: 90%;
    }

    /* image Width */
    .mmm {
        width: 90%;
    }

    /* heading bold */
     #od, #im, #jo {
        font-weight: bold;
     }

/* section 4 */
.grid-section4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    justify-content: space-around;
    justify-content: space-between;
}

/* Heading bold */
#jb, #ue, #hs, #hz, #gt {
    font-weight: bold;
}

/* image width */
.im {
    width: 90%
}


/* button*/
button {
    background-color: azure;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top:10px;
    margin-bottom: 10px;
}

/* div id for buttions */
.grid{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap:5px;
}